@tailwind base;
@tailwind components;
@tailwind utilities;

.chakra-petch-light {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.medium {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.semibold {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.bold {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.italic {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.regular-italic {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.medium-italic {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.semibold-italic {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.bold-italic {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  font-style: italic;
}
